.sidebar {
	max-height:100%;
	position:relative;
	padding-right: 0;
}
.sidebar > * {
	width: 100%;
	font-size: .8em;
	text-align: left;
}
.sidebar a {
	color: #1FB4DC;
}
.sidebar .logo {
	width: 100%;
}
.sidebar .menu {
	min-height: 30em;
	padding-top: 5em;
	width: 100%;
	text-align : left;
}
.sidebar .menu > div {
	/* display: none; */
	width: 100%;
	padding: .5em;
	margin-top: 2em;
	color: white;
	background-color: #1FB4DC;
	font-size: 1.5em;
	text-transform: uppercase;
	font-family: 'Open-sans', sans-serif;
	font-weight: 900;
}
.sidebar .footer {	/*
	position:absolute;
	bottom:5em; */
	color: #1FB4DC;
	height:6em;
}
.sidebar .footer .icons i {
	font-size: 2em;
	padding: 0 .2em 0 .2em;
}

.container-fluid,
.galleries,
.galleries > div { padding: 0; margin:0; }
.gallery { padding: 0; }
.image { width: 100%; }
.description { }

.modal-dialog { margin-top: 10em !important; }
