.sider {
   max-height:100%;
   position:relative;
}
.sidebar .logo, 
.sidebar img  { width: 100%; }
.sidebar .content { min-height: 20em;}
.sidebar .footer { 
	font-size: .8em; 
	text-align :center; 
	/*
	position:absolute;
	bottom:5em; */
	color: #1FB4DC;
	width:100%;
	height:6em;
}
.sidebar .footer .social i {
	font-size: 2em;
	padding: 0 .2em 0 .2em;
}
.sidebar .footer a {color: #1FB4DC; }

.container-fluid,
.galleries,
.galleries > div { padding: 0; margin:0;}
.gallery { padding: 0; }
.image { width: 100%; }
.description { }

.modal-dialog { margin-top: 10em !important; }